
    <div style="background: white; padding: 60px; border-radius: 4px; box-shadow: 0 2px 3px #C8D0D8; display: inline-block; margin: 0 auto;">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i style="color: #9ABC66; font-size: 100px; line-height: 200px; margin-left: -15px;">✓</i>
        </div>
        <h1 class="text-success">Success</h1>
        <p>Change Saved;<br /> Return to:</p>
        <div>
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-success" asp-area="" asp-controller="Home" asp-action="Index">Create Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" asp-area="" asp-controller="Home" asp-action="Products">List of Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" asp-area="" asp-controller="Home" asp-action="Settings">Settings</a>
                </li>
            </ul>
        </div>
    </div>
